<section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Testimonials</h6>
            <h4>What They Say</h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            {% for testimonial in testimonials %}
            <div class="item">
              <i class="fa fa-quote-left"></i>
              <small>{{testimonial.user}} {{testimonial.created_at|timesince}} ago</small>
              <p>{{ testimonial.content }}</p>
              <h4>{{ testimonial.name }}</h4>
              <span>{{ testimonial.title }}</span>
              {% if testimonial.image %}
              <div class="right-image">
                <img src="{{ testimonial.image.url}}"" alt="">
              </div>
              {% endif %}
            </div>
            {% endfor %}
           
            
            </div>
          </div>
          <!--{% if request.user.is_authenticated %}-->
          <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="content" placeholder="Write your testimonial here..."> 
                <button type="submit">Submit</button>        
            </form>
          </div>
          <!--{% endif %}-->
        </div>
      </div>
    </div>
  </section>